.receipt-list {
    div {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.search-receipt {
    div {
        padding: 0 10px;
    }
}
ion-datetime {
    width: auto !important;
    position: relative !important;
}
ion-fab {
    ion-fab-button {
      width: 165px;
    }
}