<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="popOut()">
        Back
      </ion-button>
    </ion-buttons> 
    <ion-title class="ion-text-center">Super Admin Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="field-container">
      <label for="email">Old Password</label>
      <ion-input id="email" [type]="PasswordType" [(ngModel)]="OldPass"></ion-input>
    </div>
    <div class="field-container">
      <label for="email">New Password</label>
      <ion-input id="email" [type]="PasswordType" [(ngModel)]="NewPass"></ion-input>
    </div>
    <div class="field-container">
      <label for="email">Confirm Password</label>
      <ion-input id="email" [type]="PasswordType" [(ngModel)]="ConfirmPass"></ion-input>
    </div>
    <div style="width: 100%; text-align: right; padding: 0 15px;">
      <a style="text-decoration: none; text-transform: uppercase;" href="#" (click)="showHide($event)">{{ PasswordIcon }}</a>
    </div>
    <div style="margin: 20px 15px">
      <ion-button expand="block" (click)="changePassword()">Update Password</ion-button>
    </div>
  </div>
</ion-content>
