ion-grid {
    --ion-grid-padding: 0;
}
ion-col {
    --ion-grid-column-padding: 0;
}
.print-sales {
    margin: 5px 5px;
    padding: 5px 10px;
    border-radius: 5px;
}
.container {
    margin: 10px;
    padding: 0 20px;
}
.active-btn {
    background-color: var(--ion-color-primary);
    color: white;
}
button {
    height: 30px;
    width: 80px;
}
.control-grid {
    margin: 20px 0px;
}